<img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" height="360" />

# ASSIGNMENT
# LOGISTIC REGRESSION


##  Bank Marketing


**Abstract:** 
The data is related with __direct marketing campaigns__ (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a __term deposit (variable y)__.

**Data Set Information:**
The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the __product (bank term deposit)__ would be __('yes')__ or __('no')__ subscribed. 

###  Source:

 - Dataset from : http://archive.ics.uci.edu/ml/datasets/Bank+Marketing#

### Import the dataset

In [1]:
import pandas as pd
bank = pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-2/master/Data/bank.csv')
bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,46,blue-collar,married,basic.9y,no,no,yes,telephone,may,tue,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,29,admin.,single,university.degree,no,no,no,cellular,may,wed,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1,no
2,50,management,married,university.degree,no,yes,yes,cellular,apr,fri,...,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
3,31,admin.,married,high.school,unknown,yes,no,telephone,may,thu,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
4,32,admin.,single,high.school,no,yes,no,cellular,jun,tue,...,1,999,0,nonexistent,-2.9,92.963,-40.8,1.262,5076.2,yes

### Check the columns present in the dataset

In [2]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

### Check the shape of Dataset

In [3]:
bank.shape

(10297, 21)

### Check the descriptive statistics of the dataset

In [4]:
bank.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000
mean,40.080606,261.388268,2.561134,963.609692,0.171506,0.077256,93.574206,-40.445780,3.621923,5166.850442
std,10.472190,263.722874,2.827084,184.098592,0.496992,1.576732,0.577502,4.622221,1.734170,72.492914
min,18.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.000000,103.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.000000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,327.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,94.000000,3643.000000,56.000000,999.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

### Check the info of the dataset

In [5]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10297 entries, 0 to 10296
Data columns (total 21 columns):
age               10297 non-null int64
job               10297 non-null object
marital           10297 non-null object
education         10297 non-null object
default           10297 non-null object
housing           10297 non-null object
loan              10297 non-null object
contact           10297 non-null object
month             10297 non-null object
day_of_week       10297 non-null object
duration          10297 non-null int64
campaign          10297 non-null int64
pdays             10297 non-null int64
previous          10297 non-null int64
poutcome          10297 non-null object
emp.var.rate      10297 non-null float64
cons.price.idx    10297 non-null float64
cons.conf.idx     10297 non-null float64
euribor3m         10297 non-null float64
nr.employed       10297 non-null float64
y                 10297 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 1.6+ MB

### Q 1. Write a code to understand the below mentioned variables and print their 'unique' attributes.
``` ['job', 'marital', 'education', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'campaign','poutcome', 'pdays', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m'] ```

In [6]:
def log():
    # write your code here to print all the unique values of the variables mentioned in question.
    print('Job have these Unique values: \n',bank.job.unique())
    print('Marital have these Unique Values: \n',bank.marital.unique())
    print('Education have these Unique Values:  \n',bank.education.unique())
    print('Housing have these Unique Values:  \n',bank.housing.unique())
    print('Loan have these Unique Values: \n',bank.loan.unique())
    print('Contact have these Unique Values:  \n',bank.contact.unique())
    print('Month has these Unique values: \n',bank.month.unique())
    print('Day of the Week has these Unique Values:  \n',bank.day_of_week.unique())
    print('Campaign has these unique values: \n',bank.campaign.unique())
    print('Poutcome has these unique Values: \n',bank.poutcome.unique())
    print('Pdays has these unique Values: \n',bank.pdays.unique())
    print('Employee Var Rate has unique Values: \n',bank['emp.var.rate'].unique())
    print('Constanct Price Idex has these unique Values: \n',bank['cons.price.idx'].unique())
    print('Constant confidence Index has these Unique Values:  \n',bank['cons.conf.idx'].unique())
    print('Euriborn has these Unique Values: \n',bank.euribor3m.unique())
          
    # The code output should be user-friendly.
    # For eg- Job have these unique values: ['.........']
log()

Job have these Unique values:
 ['blue-collar' 'admin.' 'management' 'technician' 'retired' 'services'
 'entrepreneur' 'self-employed' 'unemployed' 'student' 'housemaid'
 'unknown']
Marital have these Unique Values:
 ['married' 'single' 'divorced' 'unknown']
Education have these Unique Values:
 ['basic.9y' 'university.degree' 'high.school' 'professional.course'
 'basic.6y' 'basic.4y' 'unknown' 'illiterate']
Housing have these Unique Values:
 ['no' 'yes' 'unknown']
Loan have these Unique Values:
 ['yes' 'no' 'unknown']
Contact have these Unique Values:
 ['telephone' 'cellular']
Month has these Unique values:
 ['may' 'apr' 'jun' 'aug' 'jul' 'oct' 'nov' 'dec' 'sep' 'mar']
Day of the Week has these Unique Values:
 ['tue' 'wed' 'fri' 'thu' 'mon']
Campaign has these unique values:
 [ 3  2  1  4  5  6 14  7 21  9 12  8 17 10 20 33 29 15 23 11 18 13 19 39
 27 16 31 34 26 28 24 32 22 56 25 40]
Poutcome has these unique Values:
 ['nonexistent' 'failure' 'success']
Pdays has these unique Values:
 [999   6   9   2  16   3   7   4  12  13   0   1   5  11  26  10   8  14
  15  20  18  17]
Employee Var Rate has unique Values:
 [ 1.1 -1.8 -2.9  1.4 -3.4 -1.7 -0.1 -3.  -1.1]
Constanct Price Idex has these unique Values:
 [93.994 92.893 93.075 92.963 93.444 94.465 93.749 93.918 92.431 94.215
 94.027 93.2   92.649 92.713 94.199 92.843 92.201 93.876 92.379 93.369
 93.798 94.601 94.055 94.767 92.469]
Constant confidence Index has these Unique Values:
 [-36.4 -46.2 -47.1 -40.8 -36.1 -41.8 -34.6 -42.7 -26.9 -40.3 -38.3 -42.
 -30.1 -33.  -37.5 -50.  -31.4 -40.  -29.8 -34.8 -40.4 -49.5 -39.8 -50.8
 -33.6]
Euriborn has these Unique Values:
 [4.857 1.281 1.405 4.86  1.262 4.963 4.959 1.313 4.967 0.663 1.299 4.966
 4.958 1.25  4.96  4.856 4.961 0.728 0.899 4.858 4.964 4.855 4.866 4.864
 1.365 1.354 4.962 4.968 1.244 0.904 1.264 4.021 1.453 1.334 4.076 4.957
 1.266 0.72  4.191 4.153 0.896 4.859 4.965 1.26  1.291 1.215 4.12  4.865
 1.41  0.715 1.445 1.286 0.714 1.344 0.893 1.327 0.879 1.757 1.27  4.97
 1.268 0.835 0.645 0.699 0.854 0.849 0.781 0.73  1.423 0.773 0.635 0.643
 1.415 1.483 0.88  0.881 4.947 1.799 0.89  0.877 0.797 0.884 0.724 0.84
 0.744 0.638 0.695 0.75  0.639 0.821 0.77  0.843 1.372 0.905 0.861 4.918
 0.803 0.682 0.737 0.873 0.869 4.955 0.838 1.259 0.819 0.802 0.652 0.829
 1.    0.987 0.9   0.732 0.851 0.729 1.05  0.642 0.719 1.556 0.883 0.731
 4.921 0.741 0.716 1.028 4.956 0.782 0.876 0.889 1.479 0.697 0.788 0.885
 1.52  0.898 0.713 0.692 0.878 0.74  0.761 0.822 0.701 0.739 0.809 1.029
 1.041 0.834 1.466 1.726 1.072 0.706 1.048 0.655 0.702 0.825 0.959 0.637
 1.392 0.707 0.977 4.912 1.085 1.435 0.722 1.206 1.235 1.498 0.688 1.406
 0.846 0.71  0.634 0.754 0.712 1.629 0.668 1.043 0.748 0.813 4.936 0.753
 0.733 4.733 1.538 0.636 1.614 0.903 0.65  1.703 1.687 0.886 0.723 0.742
 0.87  3.901 1.03  1.811 0.755 0.859 4.406 1.044 0.767 1.252 0.778 0.646
 0.708 1.4   0.768 0.653 1.531 1.032 0.762 0.651 0.743 1.025 0.654 1.008
 0.965 0.749 0.827 4.7   0.882 0.718 1.602 0.972 1.059 1.663 1.04  1.099
 0.685 1.031 0.644 0.683 0.891 0.659 0.735 1.64  1.037 1.046 4.592 0.717
 0.677 1.51  5.045 1.016 0.953 0.81  0.727 0.993 4.794 0.982 0.709 3.853
 0.672 1.039 1.778 0.649 4.827 0.793 4.663 0.79  1.548 0.64  1.65  0.69
 4.76  0.766 0.895 0.914 1.018 0.704 0.985 1.049 4.286 0.908 0.937 0.888
 0.684 0.7   4.245 0.771 1.224 4.474]

### Q 2. Write a code to check the min and max value of age. Also check if there is any null value or not.

In [7]:
def log():
    # print the max age
    print('Max Age:',bank['age'].max())       
    # print the min age
    print('Min Age:',bank['age'].min())
    # print the missing values if any
    print('Missing Value:',bank['age'].isnull())
log()

Max Age: 94
Min Age: 18
Missing Value: 0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
10267    False
10268    False
10269    False
10270    False
10271    False
10272    False
10273    False
10274    False
10275    False
10276    False
10277    False
10278    False
10279    False
10280    False
10281    False
10282    False
10283    False
10284    False
10285    False
10286    False
10287    False
10288    False
10289    False
10290    False
10291    False
10292    False
10293    False
10294    False
10295    False
10296    False
Name: age, Length: 10297, dtype: bool

### Count of Yes and No for the term deposit

In [8]:
bank.y.value_counts()

no     9137
yes    1160
Name: y, dtype: int64

### Q 3. Write a user defined function to calculate the Inter quartile range for quantile values outside 25 to 75 range. And do the outlier capping for lower level with min value and for upper level with 'q3=1.5*iqr' value.

In [9]:
import numpy as np
def remove_outlier(df_in, col_name):
    # Calculate quantile 1 using quantile(0.25)
    q1 = df_in[col_name].quantile(0.25)
    # Calculate quantile 3
    q3 = df_in[col_name].quantile(0.75)
    # Calculate IQR as difference of Quantile 3 and quantile 1
    iqr = q3-q1
    print(iqr)
    # Find the lower bound using the min() function
    low= df_in[col_name].min()
    # Find the upper bound as quantile3 + 1.5*IQR
    up= q3+1.5*iqr
    # Print the lower and upper bound of the column
    print('Column',col_name,'IQR lower bound and upper bound are', low, 'and', up, 'respectively')
    df_out = df_in.loc[(df_in[col_name] > low) & (df_in[col_name] < up)]
    return df_out

### Q 3.1 Using the above created function , remove the outlier from 'age' variables:

In [10]:
import numpy as np
def log(bank):
    # your code to( remove the outlier from age)
    return remove_outlier(bank,'age')
bank = log(bank)

15.0
Column age IQR lower bound and upper bound are 18 and 69.5 respectively

### Q 3.2 Using the above created function , remove the outlier from 'campaign' variables:

In [11]:
def log(bank):
    # your code to remove the outlier from campaign
    return remove_outlier(bank,'campaign')
bank = log(bank)

2.0
Column campaign IQR lower bound and upper bound are 1 and 6.0 respectively

### Q 3.3 Using the above created function , remove the outlier from 'duration' variables:

In [12]:
def log(bank):
    # your code to remove the outlier from duration
    return remove_outlier(bank,'duration')
bank = log(bank)

230.0
Column duration IQR lower bound and upper bound are 0 and 684.0 respectively

### Dividing dataset into two, on the basis of categorical and numerical.

In [13]:
bank_cat=bank[['job', 'marital','default', 'education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y']]

In [14]:
bank_cont = bank.drop(['job', 'marital','default', 'education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y'], axis=1)

### Q 4. Label encode the below mentioned categorical variable to numerical values.
``` ['job', 'marital','default','education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y'] ```

In [15]:
from sklearn.preprocessing import LabelEncoder
def log(bank_cat):
    # your code to return the value applying fit_transorm
    return bank_cat.apply(LabelEncoder().fit_transform)
bank_cat = log(bank_cat)

### Combining the numerical and categorical dataset.

In [16]:
bank_final= pd.concat([bank_cont, bank_cat], axis = 1)

### Q 6. Extract independent column to prepare X

In [17]:
X = pd.DataFrame()
def log():
    # write your code to create a dataframe of dependent variables excluding 'y' variable
    X= bank_final.loc[:,bank.columns != 'y']
    return X
X = log()

In [18]:
print(X)

       age  duration  campaign  pdays  previous  emp.var.rate  cons.price.idx  \
0       46       329         3    999         0           1.1          93.994
1       29       132         2    999         0          -1.8          92.893
3       31       199         2    999         0           1.1          93.994
5       33       174         4    999         0           1.4          93.444
8       34        65         2    999         1          -1.8          92.893
9       35       282         5    999         0          -1.8          92.893
11      34       211         2      6         2          -1.8          93.749
14      54       225         2    999         0           1.4          93.918
18      53       340         2    999         0           1.4          94.465
25      52       112         2    999         0           1.4          94.465
26      51       176         3    999         0           1.1          93.994
29      35       207         2    999         0           1.4          93.918
34      33       409         2    999         0          -1.8          92.893
35      52       434         2    999         0          -1.8          92.893
37      32       396         3    999         0           1.4          93.918
44      27        64         2    999         0           1.4          94.465
46      45       126         2    999         1          -0.1          93.200
48      59       133         3    999         0           1.4          93.918
51      35       113         2    999         0           1.4          94.465
55      59       251         5    999         0           1.4          93.918
56      39        90         3    999         0          -0.1          93.200
57      58       275         4    999         0           1.4          93.918
59      39        99         5    999         0           1.4          93.918
61      37       574         5    999         0           1.1          93.994
62      47       374         2     16         1          -1.7          94.027
63      29        92         3    999         0           1.1          93.994
66      52       291         3    999         0           1.4          94.465
68      35       541         2    999         0           1.1          93.994
71      46        76         3    999         0          -0.1          93.200
77      32        86         3    999         0          -0.1          93.200
...    ...       ...       ...    ...       ...           ...             ...
10234   31       406         2    999         0           1.4          94.465
10236   46       279         4    999         0           1.4          93.918
10241   59       133         2    999         0           1.4          94.465
10242   52       402         2    999         0           1.4          93.918
10247   58       483         2    999         0          -1.8          93.075
10249   38       121         4    999         0          -1.8          93.075
10250   39       433         3    999         0           1.1          93.994
10253   41       134         2    999         0           1.4          93.918
10254   34       295         3    999         0           1.4          93.918
10256   45       220         4    999         1          -0.1          93.200
10260   28       128         2    999         0           1.1          93.994
10262   56       162         3    999         0          -0.1          93.200
10264   48       349         2    999         0           1.4          94.465
10265   38       136         2    999         1          -0.1          93.200
10266   56       150         2    999         0           1.4          94.465
10268   54       150         2    999         0           1.4          93.918
10270   52       121         3    999         0           1.4          93.444
10271   41       271         3    999         0           1.4          93.444
10272   31       200         5    999         0           1.4          93.918
10279   32       228         4    999         0          -1.8          92.893
10280   37       230         2    999         0          -1.7          94.215
10281   37       126         2    999         0           1.4          93.918
10283   32        93         5    999         0           1.1          93.994
10284   57       158         3    999         0           1.4          93.918
10287   41       100         2    999         0          -1.8          93.075
10289   36       266         2      2         2          -1.8          93.075
10290   43        87         2    999         0           1.1          93.994
10291   58       246         3    999         0           1.4          94.465
10294   52       442         2    999         1          -0.1          93.200
10295   35       330         3    999         0           1.1          93.994

       cons.conf.idx  euribor3m  nr.employed  job  marital  default  \
0              -36.4      4.857       5191.0    1        1        0
1              -46.2      1.281       5099.1    0        2        0
3              -36.4      4.860       5191.0    0        1        1
5              -36.1      4.963       5228.1    0        2        0
8              -46.2      1.281       5099.1    1        1        1
9              -46.2      1.313       5099.1    0        2        0
11             -34.6      0.663       5008.7    9        1        0
14             -42.7      4.958       5228.1    1        1        1
18             -41.8      4.961       5228.1    1        1        0
25             -41.8      4.866       5228.1    1        1        0
26             -36.4      4.860       5191.0    7        1        0
29             -42.7      4.958       5228.1    9        1        0
34             -46.2      1.281       5099.1    1        2        0
35             -46.2      1.354       5099.1    0        1        0
37             -42.7      4.963       5228.1    1        1        0
44             -41.8      4.866       5228.1    0        2        0
46             -42.0      4.021       5195.8    1        1        0
48             -42.7      4.963       5228.1    5        1        1
51             -41.8      4.864       5228.1    0        1        0
55             -42.7      4.960       5228.1    2        1        1
56             -42.0      4.076       5195.8    4        1        0
57             -42.7      4.961       5228.1    0        1        0
59             -42.7      4.957       5228.1    1        1        0
61             -36.4      4.857       5191.0    1        1        1
62             -38.3      0.904       4991.6    0        1        0
63             -36.4      4.857       5191.0    1        2        0
66             -41.8      4.961       5228.1    2        1        1
68             -36.4      4.857       5191.0    0        2        0
71             -42.0      4.191       5195.8    0        1        1
77             -42.0      4.021       5195.8    9        2        0
...              ...        ...          ...  ...      ...      ...
10234          -41.8      4.864       5228.1    1        1        0
10236          -42.7      4.962       5228.1    8        2        0
10241          -41.8      4.961       5228.1    1        1        0
10242          -42.7      4.958       5228.1    9        1        0
10247          -47.1      1.405       5099.1    9        1        1
10249          -47.1      1.405       5099.1    0        1        1
10250          -36.4      4.857       5191.0    0        1        0
10253          -42.7      4.963       5228.1    6        1        0
10254          -42.7      4.962       5228.1    0        1        0
10256          -42.0      4.191       5195.8    1        0        1
10260          -36.4      4.859       5191.0    1        1        0
10262          -42.0      4.076       5195.8    9        1        0
10264          -41.8      4.961       5228.1    1        1        1
10265          -42.0      4.191       5195.8    4        0        0
10266          -41.8      4.866       5228.1    9        1        1
10268          -42.7      4.968       5228.1    1        1        0
10270          -36.1      4.963       5228.1   10        1        0
10271          -36.1      4.965       5228.1   10        0        0
10272          -42.7      4.963       5228.1    9        2        0
10279          -46.2      1.327       5099.1    1        1        0
10280          -40.3      0.810       4991.6    0        1        0
10281          -42.7      4.963       5228.1    7        1        0
10283          -36.4      4.855       5191.0    9        1        0
10284          -42.7      4.963       5228.1    0        2        0
10287          -47.1      1.405       5099.1    1        1        1
10289          -47.1      1.365       5099.1    9        1        0
10290          -36.4      4.857       5191.0   10        1        1
10291          -41.8      4.961       5228.1    9        1        0
10294          -42.0      4.120       5195.8    1        1        1
10295          -36.4      4.855       5191.0    9        1        0

       education  loan  housing  contact  month  day_of_week  poutcome
0              2     2        0        1      6            3         1
1              6     0        0        0      6            4         1
3              3     0        2        1      6            2         1
5              6     2        2        0      1            1         1
8              5     0        0        0      6            4         0
9              3     0        0        0      6            0         1
11             5     0        2        0      0            0         2
14             2     0        0        0      3            2         1
18             0     2        0        1      4            1         1
25             2     0        2        1      4            2         1
26             1     0        2        1      6            2         1
29             5     2        0        0      3            2         1
34             0     2        2        0      6            4         1
35             6     2        0        0      6            1         1
37             2     2        2        0      3            0         1
44             6     0        0        1      4            2         1
46             2     0        0        0      7            0         0
48             7     0        0        0      3            4         1
51             3     0        0        1      4            4         1
55             6     0        0        0      3            1         1
56             6     2        2        0      7            2         1
57             6     0        2        0      3            3         1
59             2     2        2        1      3            0         1
61             1     2        0        1      6            0         1
62             3     0        0        0      1            2         2
63             7     0        0        1      6            0         1
66             2     0        0        1      4            1         1
68             3     0        2        1      6            0         1
71             3     0        0        0      7            1         1
77             5     0        2        0      7            0         1
...          ...   ...      ...      ...    ...          ...       ...
10234          1     0        2        1      4            4         1
10236          7     0        2        1      3            0         1
10241          1     0        2        1      4            3         1
10242          5     0        2        0      3            2         1
10247          5     0        2        0      0            1         1
10249          3     0        0        1      0            1         1
10250          3     0        2        1      6            0         1
10253          2     0        0        0      3            0         1
10254          3     0        2        0      3            1         1
10256          2     0        0        0      7            1         0
10260          2     0        2        1      6            0         1
10262          6     0        0        0      7            2         1
10264          0     0        0        1      4            1         1
10265          6     0        0        0      7            1         0
10266          5     0        2        1      4            2         1
10268          2     0        2        0      3            2         1
10270          0     0        0        0      1            3         1
10271          5     1        1        0      1            3         1
10272          5     0        0        0      3            2         1
10279          2     0        0        0      6            2         1
10280          3     0        2        0      3            2         1
10281          2     0        0        0      3            0         1
10283          6     0        2        1      6            0         1
10284          2     0        2        0      3            4         1
10287          0     0        0        0      0            0         1
10289          5     2        2        0      0            2         2
10290          6     1        1        1      6            3         1
10291          3     0        0        1      4            2         1
10294          5     0        2        0      7            4         0
10295          6     0        2        1      6            2         1

[4621 rows x 20 columns]

### Q 7. Extract dependent variable into a dataframe 'y' for model predcition

In [19]:
y = pd.DataFrame()
def log():
    # write your code to create a dataframe which consists only of dependepent variable
    y= bank_final.loc[:,bank.columns == 'y']
    return y
y = log()

In [20]:
print(y)

       y
0      0
1      0
3      0
5      0
8      0
9      0
11     0
14     0
18     0
25     0
26     0
29     0
34     0
35     0
37     0
44     0
46     0
48     0
51     0
55     0
56     0
57     0
59     0
61     0
62     1
63     0
66     0
68     0
71     0
77     0
...   ..
10234  0
10236  1
10241  0
10242  0
10247  0
10249  0
10250  0
10253  0
10254  0
10256  0
10260  0
10262  0
10264  0
10265  0
10266  0
10268  0
10270  0
10271  0
10272  0
10279  0
10280  0
10281  0
10283  0
10284  0
10287  0
10289  1
10290  0
10291  0
10294  0
10295  0

[4621 rows x 1 columns]

### Q 8. Splitting X and y intro train and test dataset

In [21]:
from sklearn.model_selection import train_test_split
def log():
    return train_test_split(X,y,test_size=0.25,random_state=0)# train test split using train_test_split of 75:25 and random state=1
X_train, X_test, y_train, y_test = log()

### Check the shape of X an y of train dataset.

In [22]:
def log():
    print(X_train.shape)
    print(y_train.shape)
log()

(3465, 20)
(3465, 1)

### Check the shape of X and y of test dataset.

In [23]:
def log():
    print(X_test.shape)
    print(y_test.shape)
log()

(1156, 20)
(1156, 1)

### Q 9. Instantitate Logistic Regression model using scikit-learn

In [24]:
from sklearn.linear_model import LogisticRegression
def log():
    # initiate the logistic regression model to new variable logreg
    logreg= LogisticRegression()
    return logreg
logreg = log()

### Q 10. Fit the logistic model on X_train and y_train

In [25]:
def log():
    # fit the X_train and y_train
    logreg.fit(X_train,y_train)
    # We don't expect any return from your side.
log()

D:\Sathish\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Sathish\Anaconda\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### Q 11. Using the model for prediction

In [26]:
y_pred_train = pd.DataFrame()
def log():
    # create the model prediction on X_train data using the above created dataframe
    y_pred_train = logreg.predict(X_train)
    return y_pred_train
y_pred_train = log()

In [27]:
y_pred_test = pd.DataFrame()
def log():
    # create the model prediction on X_test data using the above created dataframe
    y_pred_test = logreg.predict(X_test)
    return y_pred_test
y_pred_test = log()

### Q 12. Model evaluation using accuracy classification score

In [28]:
from sklearn.metrics import accuracy_score
def log():
    #Calculate and print the accuracy score
    print('Model Accuracy',accuracy_score(y_test,y_pred_test))
    
log()

Model Accuracy 0.9403114186851211

### Q 13. Model evaluation using Confusion matrix

In [31]:
from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))
def log():
    # provide confusion matrix index name as['Actual No_Deposit','Actual Deposit']
    confusion_matrix.index=['Actual No_Deposit','Actual Deposit']
    # provide confusion matrix index name as['Predicted No_Deposit','Predicted Deposit']
    confusion_matrix.columns=['Predicted No_Deposit','Predicted Deposit']
    print(confusion_matrix)
log()

                   Predicted No_Deposit  Predicted Deposit
Actual No_Deposit                  1052                 19
Actual Deposit                       50                 35

### Q 14. Accuracy prediction setting the threshold = 0.75

In [32]:
import numpy as np
def log():
    # Calculate preds1 keeping the probabilty value as 0.75
    preds1 = np.where(logreg.predict_proba(X_test)[:,1]> 0.75,1,0)
    # calculate and print the accuracy using the above mentioned threshold probability
    print('Accuracy score for test data is:', accuracy_score(y_test,preds1))
    
log()

Accuracy score for test data is: 0.9342560553633218

### Q 15. Accuracy prediction setting the threshold = 0.25

In [34]:
def log():
    # Calculate preds2 keeping the probabilty value as 0.25
    preds1 = np.where(logreg.predict_proba(X_test)[:,1]> 0.25,1,0)
    # calculate and print the accuracy using the above mentioned threshold probability
    print('Accuracy score for test data is:', accuracy_score(y_test,preds1))
    
log()

Accuracy score for test data is: 0.9186851211072664